.MainTodo{
    min-height: 700px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        width: 70%;
        min-height: 700px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        
        form{
            padding-top: 20px;
            border: 1px solid black;
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            input{
                border: 0.1px solid black;
                border-radius: 3px;
                background-color: rgb(249, 249, 206);
                height: 50px;
                flex-grow: 6;
                font-size: 20px;
                padding: 4px 12px;
                
            }
            button{
                flex-grow: 3;
                height: 50px;
                border: none;
                background-color: green;
                font-size: 20px;
                border-radius: 3px;
                color: rgb(212, 210, 210);
            }

        }
        ul{
            border: 1px solid black;
            width: 70%;
            margin: 10px 15% 0 15%;
            li{
                border: 1px solid black;
                list-style-type: none;
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                input{
                    height: 20px;
                    width: 20px;
                    margin-left: 5px;
                }
                p{
                    font-size: 30px;
                    margin-left: 10px;
                    // text-decoration:line-through
                }
            }
        }
    }
}